<!-- <mat-form-field class="example-full-width">
	<mat-label>Address</mat-label>
	<textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
</mat-form-field>

<app-linear-gauge [linearUIConfig]="linearUIConfig" [inputValue]="20" [dataConfig]="{'min':0, 'max':220}">
</app-linear-gauge>

<app-radial-gauge></app-radial-gauge> -->
<!-- <h1>Angular Router</h1>
<nav>
	<a routerLink="/linear" routerLinkActive="active">linear</a>
	<a routerLink="/radial" routerLinkActive="active">radial</a>
	<a routerLink="/text" routerLinkActive="active">text</a>
</nav>
<router-outlet></router-outlet> -->


<!-- <hello name="{{ name }}"></hello>

<app-text></app-text>

<textarea [(ngModel)]="text" (ngModelChange)="onChange($event)"></textarea>
<div [innerHtml]="h_html | safeHtml">
</div>
{{h_html | safeHtml}}

<span [innerHTML]="h_html"></span>


<div class="container p-3">
	<div class="row">
		<div class="col-12">
			<form [formGroup]="form" (submit)="submit()">
				<div class="card">
					<div class="card-header">User Profile</div>
					<div class="card-body">
						<div class="row">
							<div class="form-group col-6">
								<label>Name</label>
								<input class="form-control" formControlName="name" type="text">
								<span class="text-danger" *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                  Name is required! </span>
							</div>
							<div class="form-group col-6">
								<label>Organization</label>
								<input class="form-control" formControlName="organization" type="text">
              </div>
							</div>
						</div>
						<div class="card-header">Contact Information</div>
						<div class="card-body" formArrayName="contacts">
							<div class="row">
								<div class="col-6" *ngFor="let contact of contactFormGroup.controls; let i = index;">
									<div [formGroupName]="i" class="row">
										<div class="form-group col-6">
											<label>Type of Contact</label>
											<select (change)="changedFieldType(i)" class="form-control" formControlName="type" type="text">
                      <option value="email">Email</option>
                      <option value="phone">Phone</option>
                    </select>
										</div>
										<div class="form-group col-6">
											<label>Contact Label</label>
											<input class="form-control" formControlName="name" type="text">
											<span class="text-danger" *ngIf="getContactsFormGroup(i).controls['name'].touched && getContactsFormGroup(i).controls['name'].hasError('required')">
                      Label is required! </span>
										</div>

										<div class="form-group col-12">
											<label>Email/Phone No.</label>
											<input class="form-control" formControlName="value" type="text">
											<span class="text-danger" *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('required')">
                      Email/Phone no is required! </span>
											<span class="text-danger" *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('email')">
                      Email is not valid! </span>
											<span class="text-danger" *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('pattern')">
                      Phone no. is not valid! </span>
										</div>
										<div class="form-group col-12 text-right">
											<button class="btn btn-danger" type="button" (click)="removeContact(i)"> Remove </button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="card-body" formArrayName="statics">
							<div class="row">
								<div class="col-6" *ngFor="let contact of staticFormGroup.controls; let j = index;">
									<div [formGroupName]="j" class="row">
										<div class="form-group col-6">
											<label>Contact Label</label>
											<input class="form-control"  [formControl]="contact.staticData"  type="text">
										</div>


											<div class="form-group col-12 text-right">
												<button class="btn btn-danger" type="button" (click)="removeStatic(i)"> Remove </button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="col-12">
									<button class="btn btn-primary m-1" type="button" (click)="addStaticData()"> Add Position </button>
									<button class="btn btn-primary m-1" type="button" (click)="addContact()"> Add Contact </button>
									<button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save User Profile </button>
								</div>
							</div>
						</div>
			</form>
		</div>
	</div>
</div> -->

<h1>Convert Json to CSV file and Download it in the .csv format</h1>

<button (click)="download()"> Download </button>